@keyframes shooting {
  0% {
    transform: translateX(0) rotate(45deg);
  }
  100% {
    transform: translate(200%, 200%);
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 20px;
  }
  100% {
    width: 0;
  }
}

/* .star {
      position: absolute;
  top: 10px; 
  left: 10px;
  height: 2px;
  background-image: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 8px #d6d6d6);
  animation: ${tail} ${props => props.duration}ms ${props => props.delay}ms ease-in-out infinite, ${shooting} ${props => props.duration}ms ${props => props.delay}ms ease-in-out infinite;

  &:before, &:after {
    position: absolute;
    content: '';
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    border-radius: 100%;
    background-image: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    animation: ${shining} ${props => props.duration}ms ${props => props.delay}ms ease-in-out infinite;
  }

  &:after {
    transform: translateX(50%) rotateZ(-45deg);
  }
} */
